<launch>
    <!-- Settings -->
    <arg name="device" default="0"/>
    <arg name="frame_id" default="webcam"/>
    <arg name="camera" default="webcam"/>
    <arg name="fps" default="15.0"/>
    <arg name="calib_url"
        default="package://usb_camera/calib/calib_$(arg camera).yml"/>

    <!-- Node -->
    <arg name="output" default="screen"/>
    <node pkg="usb_camera" type="usb_camera_node" name="$(arg camera)"
        output="$(arg output)">
        <param name="identifier" type="string" value="$(arg device)"/>
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="camera" type="string" value="$(arg camera)"/>
        <param name="calib_url" type="string" value="$(arg calib_url)"/>
        <param name="fps" type="double" value="$(arg fps)"/>
    </node>

    <!-- View -->
    <arg name="view" default="false"/>
    <node if="$(arg view)" pkg="image_view" type="image_view"
        name="$(arg camera)_raw" output="$(arg output)"
        args="image:=/$(arg camera)/image_raw">
    </node>

    <!-- Calib -->
    <arg name="calib" default="false"/>
    <group if="$(arg calib)">
        <arg name="pattern" default="chessboard"/>
        <arg name="size"/>
        <arg name="square"/>
        <node pkg="camera_calibration" type="cameracalibrator.py"
            name="calibrator" output="screen"
            args="-p $(arg pattern) -s $(arg size) -q $(arg square)
            image:=/$(arg camera)/image_raw camera:=/$(arg camera)">
        </node>
    </group>
</launch>
